.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Takes remaining space between header and footer */
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Add any global styles here */
